---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{https://scholar.google.com/citations?user=mmudPWUAAAAJ&hl=zh-CN&oi=ao}}">my Google Scholar profile</a>.</div>
{% endif %}

    </section>
    <section id="publications">
        <h2>Publications</h2>
        <ol reversed>
        <li><strong> Anjiao Gu, Shi Jin, Chuwen Ma, <a href="https://arxiv.org/abs/2507.23547">Quantum simulation of Helmholtz equations via Schrödingerization, </a></strong> <em>2025, preprint. </em></li>
        <li><strong> Shi Jin, Chundan Zhang, <a href="https://arxiv.org/abs/2505.18711">Quantum simulation of elastic wave equations via Schrödingerisation, </a></strong> <em>2025, preprint. </em></li>
       <li><strong> Shi Jin, Nana Liu, Chuwen Ma, Yue Yu, <a href="https://arxiv.org/abs/2505.06866">Quantum preconditioning method for linear systems problems via Schrödingerization, </a></strong> <em>2025, preprint. </em></li> 
        <li><strong> Shi Jin, Zihao Tang, Xu Yin, Lei Zhang, <a href="https://arxiv.org/abs/2505.04304">Quantum Circuits for the Black-Scholes equations via Schrödingerisation, </a></strong> <em>2025, preprint. </em></li> 
         <li><strong> Shi Jin, Nana Liu, Yue Yu, <a href="https://arxiv.org/abs/2505.01602">Schrödingerization based quantum algorithms for the fractional Poisson equation, </a></strong> <em>2025, preprint. </em></li> 
         <li><strong> Shi Jin, Nana Liu, Chuwen Ma, Yue Yu, <a href="https://arxiv.org/abs/2505.00370">On the Schrödingerization method for linear non-unitary dynamics with optimal dependence on matrix queries, </a></strong> <em>2025, preprint. </em></li> 
        <li><strong> Junpeng Hu, Jinglai Li, Lei Zhang, Shi Jin, <a href="https://arxiv.org/abs/2503.17780">A quantum gradient descent algorithm for optimizing Gaussian Process models, </a></strong> <em>2025, preprint. </em></li>  
         <li><strong> Anjiao Gu and Shi Jin, <a href="https://arxiv.org/abs/2501.10176">Quantum simulation of a class of highly-oscillatory transport equations via Schrödingerisation, </a></strong> <em>2025, preprint. </em></li>      
        <li><strong>Shi Jin and Nana Liu, <a href="https://ins.sjtu.edu.cn/people/shijin/PS/Hyp2024-proc-JL.pdf">Schrodingerization-based quantum simulation of partial differential equations and related problems – a continuous-variable perspective, </a></strong> <em>2024, preprint. </em></li>   
        <li><strong>Shi Jin, Nana Liu and Wei Wei, <a href="https://arxiv.org/abs/2412.14868">Quantum Algorithms for Stochastic Differential Equations: A Schrödingerisation Approach, </a></strong> <em>2024, preprint. </em></li>   
        <li><strong>Yu Cao, Shi Jin and Nana Liu, <a href="https://arxiv.org/abs/2411.03180">A unifying framework for quantum simulation algorithms for time-dependent Hamiltonian dynamics, </a></strong> <em>2024, preprint. </em></li>   
         <li><strong>Chuwen Ma,Shi Jin, Nana Liu, Kezhen Wang and Lei Zhang, <a href="https://arxiv.org/abs/2411.10999">Schrödingerization based Quantum Circuits for Maxwell's Equation with time-dependent source terms, </a></strong> <em>2024, preprint. </em></li>   
         <li><strong>Shi Jin, Nana Liu and Yue Yu, <a href="https://arxiv.org/abs/2407.15895">Quantum Circuits for the heat equation with physical boundary conditions via Schrödingerisation, </a></strong> <em>J. Comp. Phys., Accepted,2025, preprint. </em></li>
        <li><strong>Shi Jin and Nana Liu, <a href="https://arxiv.org/abs/2407.01913">Analog quantum simulation of parabolic partial differential equations using Jaynes-Cummings-like models, </a></strong> <em>2024, preprint.</em></li>
        <li><strong>Shi Jin, Nana Liu and Yue Yu,  <a href="https://arxiv.org/abs/2404.13585">Quantum simulation of the Fokker-Planck equation via Schrödingerization, </a></strong> <em>2024, preprint.</em></li>
        <li><strong>Shi Jin, Nana Liu and Chuwen Ma, <a href="https://arxiv.org/abs/2403.19123">Schrödingerisation based computationally stable algorithms for ill-posed problems in partial differential equations, </a></strong> <em>SIAM J. Sci. Comp., Accepted, 2025.</em></li>    
        <li><strong>Junpeng Hu, Shi Jin, Nana Liu and Lei Zhang, <a href="https://arxiv.org/abs/2403.10032">Quantum Circuits for partial differential equations via Schrödingerisation, </a></strong> <em>Quantum 8, 1563 (2024).</em></li>
        <li><strong>Shi Jin, Nana Liu and Yue Yu, <a href="https://arxiv.org/abs/2402.14696">Quantum simulation of the Fokker-Planck equation via Schrödingerization, </a></strong> <em>2024, preprint.</em></li>
         <li><strong>Shi Jin, Nana Liu and Chuwen Ma, <a href="https://arxiv.org/abs/2402.14696">On Schrödingerization based quantum algorithms for linear dynamical systems with inhomogeneous terms,  </a></strong> <em> SIAM J. Numer. Anal., Accepted, 2025.</em></li>   
         <li><strong>Yu Cao, Shi Jin and Nana Liu,<a href="https://arxiv.org/abs/2312.02817">Quantum simulation for time-dependent Hamiltonians -- with applications to non-autonomous ordinary and partial differential equations, </a></strong> <em> J. Phys. A:Math.Theor. Vol.58, p.155304,2025</em></li>
         <li><strong>Francois Golse, Shi Jin and Nana Liu, <a href="https://arxiv.org/abs/2209.11220">Quantum algorithms for uncertainty quantification: application to partial differential equations, </a></strong> <em>2024, preprint</em></li> 
        <li><strong>Shi Jin, Nana Liu and Chuwen Ma, <a href="https://arxiv.org/abs/2308.08408">Quantum simulation of Maxwell's equations via Schrödingersation, </a></strong> <em>Math. Model Num. Anal., Vol 58, No. 5, pp. 1853--1879, 2024.</em></li>  
        <li><strong>Shi Jin and Nana Liu, <a href="https://arxiv.org/abs/2308.00646">Analog quantum simulation of partial differential equations, </a></strong> <em>Quantum Sci. Tech., to appear.</em></li>
        <li><strong>Junpeng Hu, Shi Jin, Lei Zhang,<a href="https://epubs.siam.org/doi/abs/10.1137/23M1566340">Quantum algorithms for multiscale partial differential equations, </a></strong> <em>(SIAM) Multiscale Model. Simulation, to appear.</em></li>
        <li><strong>Shi Jin and Nana Liu, <a href="https://arxiv.org/abs/2304.02865">Quantum simulation of discrete linear dynamical systems and simple iterative methods in linear algebra via Schrodingerisation, </a></strong> <em>Proc. Royal Soc. London A, 480, 20230370, 2024</em></li>
        <li><strong>Shi Jin, Xiantao Li, Nana Liu and Yue Yu, <a href="https://arxiv.org/abs/2304.00667v1">Quantum Simulation for Quantum Dynamics with Artificial Boundary Condition,</a></strong> <em>SIAM Journal on Scientific Computing, 2024.</em></li>
        <li><strong>Shi Jin and Nana Liu, <a href="http://arxiv.org/pdf/2202.07834">Quantum algorithms for nonlinear partial differential equations, </a></strong> <em>Bull. Math. Sci., 194，103457, 2024.</em></li>
        <li><strong>Shi Jin, Xiantao Li, Nana Liu,Yue Yu, <a href="https://doi.org/10.1016/j.jcp.2023.112707">Quantum Simulation for Partial Differential Equations with Physical Boundary or Interface Conditions.,</a></strong> <em>Journal of Computational Physics, Vol 498, 112707, 2024.</em></li>
        <li><strong>Junpen Hu, Shi Jin, Nana Liu, Lei Zhang, <a href = "https://arxiv.org/abs/2309.16262"> Dilation theorem via Schrödingerisation, with applications to the quantum simulation of differential equations.,</a></strong> <em> Stud. Appl. Math. vol. 154, No.4 p. e70047,2025, </em></li>
        <li><strong>Shi Jin, Xiantao Li, <a href="https://arxiv.org/abs/2109.07987">A Partially Random Trotter Algorithm for Quantum Hamiltonian Simulations,</a></strong> <em>Communications on Applied Mathematics and Computation, 2023.</em></li>
          <li><strong>Shi Jin, Nana Liu and Yue Yu, <a href="https://ins.sjtu.edu.cn/people/shijin/PS/PRA-JLY.pdf">Quantum simulation of partial differential equations: Applications and detailed analysis, </a></strong> <em>Phys. Rev. A 108 (2023), no. 3, Paper No. 032603.</em></li>
            <li><strong>Shi Jin, Nana Liu and Yue Yu, <a href="https://ins.sjtu.edu.cn/people/shijin/PS/PhysRevLett-JinLiuYu.pdf">Quantum simulation of partial differential equations via Schrodingerisation, </a></strong> <em>Phys. Rev. Lett., Vol 133, No. 230602, 2024.</em></li>
        <li><strong>Shi Jin, Nana Liu and Yue Yu, <a href="https://arxiv.org/abs/2212.13969">Quantum simulation of partial differential equations via Schrödingerisation, </a></strong> <em> 2022, preprint.</em></li>
         <li><strong>Xiaoyang He, Shi Jin and Yue Yu, <a href="https://ins.sjtu.edu.cn/people/shijin/PS/QC-transport.pdf"> Time complexity analysis of quantum difference methods for the multiscale transport equations, </a></strong> <em>East Asian J. Appl. Math., 13, p717-739, 2023. (A special issue on the occasion of the 60th birthday of Prof. Tao Tang).</em></li>
                     <li><strong>Shi Jin, Nana Liu and Yue Yu, <a href="http://arxiv.org/pdf/2202.04537">Time complexity analysis of quantum difference methods for linear high dimensional and multiscale partial differential equations, </a></strong> <em>J. Comp. Phys.  471,  Paper No. 111641, 2022.</em></li>         
        <li><strong> Shi Jin, Xiantao Li and Nana Liu, <a href="https://doi.org/10.22331/q-2022-06-17-739">On quantum algorithms for the Schrödinger equation in the semi-classical regime, </a></strong> <em> Quantum 6, 739 2022. </em></li> 
    </ol>


{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



